{% extends "base.html" %}


{% block content %}
<div class="container my-5">
    <div class="p-5 text-center bg-body-tertiary rounded-3">
        <h2 class="my-3">About Phonekart</h2>
        <p class="col-lg-8 mx-auto fs-5 text-muted">

            Welcome to Phonekart – Your Trusted Destination for Smartphones

            At Phonekart, we are more than just an online smartphone store. We are your one-stop shop for the latest,
            most innovative, and high-quality smartphones. Our journey is rooted in a commitment to deliver the best in
            the world of mobile technology, offering you a seamless and delightful shopping experience.
        </p>
        <h2 class="my-3">Our Story</h2>
        <p class="col-lg-8 mx-auto fs-5 text-muted">
            Phonekart was founded by a team of tech enthusiasts who shared a common vision: to create a platform that
            simplifies the smartphone buying experience. We understand that choosing the right smartphone can be a
            daunting task with the fast-paced advancements in technology. That's why we're here to guide you through
            every step of the way.

            Our journey began with a simple mission – to connect people with their dream smartphones. We meticulously
            curate a collection of the latest devices, ensuring that you have access to the best and most cutting-edge
            options on the market. We strive to make the latest technology accessible to everyone, from the tech-savvy
            to the casual user.
        </p>
        <div class="d-inline-flex gap-2 mb-5">
            <a href="/" class="d-inline-flex align-items-center btn btn-primary btn-lg px-4 rounded-pill" type="button">
                Shop Now
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-arrow-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
                </svg>
            </a>
        </div>
    </div>
</div>
{% endblock %}